# ClickHouse Database Configuration
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_USER=sunglasses_dbt
CLICKHOUSE_PASSWORD=sunglasses_dbt
CLICKHOUSE_DB=sunglasses_dbt
CLICKHOUSE_RAW_DB=raw

# Sunglass Hut Scraper / Algolia API
ALGOLIA_APP_ID=21OGKM5TH5
ALGOLIA_API_KEY=dc91173a4a5d669a3eef474e5836e94f
ALGOLIA_INDEX_NAME=prod_live_sgh_en-us__grouped
